.combo{
	display:inline-block;
	white-space:nowrap;
	font-size:12px;
	margin:0;
	padding:0;
	border:1px solid #A4BED4;
	background:#fff;
}
.combo-text{
	font-size:12px;
	border:0px;
	line-height:20px;
	height:20px;
	padding:0px;
	*height:18px;
	*line-height:18px;
	_height:18px;
	_line-height:18px;
}
.combo-arrow{
	background:#E0ECF9 url('images/combo_arrow.gif') no-repeat 3px 4px;
	width:18px;
	height:20px;
	overflow:hidden;
	display:inline-block;
	vertical-align:top;
	cursor:pointer;
	opacity:0.6;
	filter:alpha(opacity=60);
}
.combo-arrow-hover{
	opacity:1.0;
	filter:alpha(opacity=100);
}
.combo-panel{
	background:#fff;
	overflow:auto;
}
