.slider{
}
.slider-disabled{
	opacity:0.5;
	filter:alpha(opacity=50);
}
.slider-h{
	height:22px;
}
.slider-v{
	width:22px;
}
.slider-inner{
	position:relative;
	height:6px;
	top:7px;
	border:1px solid #99BBE8;
	background:#fafafa;
	border-radius:3px;
}
.slider-handle{
	position:absolute;
	display:block;
	outline:none;
	width:20px;
	height:20px;
	top:-7px;
	margin-left:-10px;
	background:url('images/slider_handle.png') no-repeat;
}
.slider-tip{
	position:absolute;
	display:inline-block;
	line-height:12px;
	white-space:nowrap;
	top:-22px;
}
.slider-rule{
	position:relative;
	top:15px;
}
.slider-rule span{
	position:absolute;
	display:inline-block;
	font-size:0;
	height:5px;
	border-left:1px solid #999;
}
.slider-rulelabel{
	position:relative;
	top:20px;
}
.slider-rulelabel span{
	position:absolute;
	display:inline-block;
	color:#999;
}
.slider-v .slider-inner{
	width:6px;
	left:7px;
	top:0;
	float:left;
}
.slider-v .slider-handle{
	left:3px;
	margin-top:-10px;
}
.slider-v .slider-tip{
	left:-10px;
	margin-top:-6px;
}
.slider-v .slider-rule{
	float:left;
	top:0;
	left:16px;
}
.slider-v .slider-rule span{
	width:5px;
	height:'auto';
	border-left:0;
	border-top:1px solid #999;
}
.slider-v .slider-rulelabel{
	float:left;
	top:0;
	left:23px;
}
