.spinner{
	display:inline-block;
	white-space:nowrap;
	font-size:12px;
	margin:0;
	padding:0;
	border:1px solid #A4BED4;
}
.spinner-text{
	font-size:12px;
	border:0px;
	line-height:20px;
	height:20px;
	padding:0px;
	*height:18px;
	*line-height:18px;
	_height:18px;
	_line-height:18px;
}
.spinner-arrow{
	display:inline-block;
	vertical-align:top;
	margin:0;
	padding:0;
}
.spinner-arrow-up,.spinner-arrow-down{
	display:block;
	background:#E0ECF9 url('images/spinner_arrow_up.gif') no-repeat 5px 2px;
	font-size:1px;
	width:18px;
	height:10px;
}
.spinner-arrow-down{
	background:#E0ECF9 url('images/spinner_arrow_down.gif') no-repeat 5px 3px;
}
.spinner-arrow-hover{
	background-color:#ECF9F9;
}