.datagrid .panel-body{
	overflow:hidden;
}
.datagrid-wrap{
	position:relative;
}
.datagrid-view{
	position:relative;
	overflow:hidden;
}
.datagrid-view1{
	position:absolute;
	overflow:hidden;
	left:0px;
	top:0px;
}
.datagrid-view2{
	position:absolute;
	overflow:hidden;
	left:210px;
	top:0px;
}
.datagrid-mask{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background:#ccc;
	opacity:0.3;
	filter:alpha(opacity=30);
	display:none;
}
.datagrid-mask-msg{
	position:absolute;
	top:50%;
	margin-top:-20px;
	width:auto;
	height:16px;
	padding:12px 5px 10px 30px;
	background:#fff url('images/pagination_loading.gif') no-repeat scroll 5px 10px;
	border:2px solid #6593CF;
	color:#222;
	display:none;
}
.datagrid-sort-desc .datagrid-sort-icon{
	padding:2px 13px 3px 0px;
	background:url('images/datagrid_sort_desc.gif') no-repeat center center;
}
.datagrid-sort-asc .datagrid-sort-icon{
	padding:2px 13px 3px 0px;
	background:url('images/datagrid_sort_asc.gif') no-repeat center center;
}
.datagrid-toolbar{
	height:28px;
	background:#efefef;
	padding:1px 2px;
	border-bottom:1px solid #ccc;
}
.datagrid-btn-separator{
	float:left;
	height:24px;
	border-left:1px solid #ccc;
	border-right:1px solid #fff;
	margin:2px 1px;
}
.datagrid-pager{
	background:#efefef;
	border-top:1px solid #ccc;
	position:relative;
}
.datagrid-pager-top{
	border-top:0;
	border-bottom:1px solid #ccc;
}

.datagrid-header{
	overflow:hidden;
	background:#fafafa url('images/datagrid_header_bg.gif') repeat-x left bottom;
	border-bottom:1px solid #ccc;
	cursor:default;
}
.datagrid-header-inner{
	float:left;
	width:10000px;
}
.datagrid-header-row{
	height:25px;
}
.datagrid-header td{
	border-right:1px dotted #ccc;
	font-size:12px;
	font-weight:normal;
	background:#fafafa url('images/datagrid_header_bg.gif') repeat-x left bottom;
	border-bottom:1px dotted #ccc;
	border-top:1px dotted #fff;
}
.datagrid-header td.datagrid-header-over{
	background:#EBF3FD;
}
.datagrid-header .datagrid-cell{
	margin:0;
	padding:3px 4px;
	white-space:nowrap;
	word-wrap:normal;
	overflow:hidden;
	text-align:center;
}
.datagrid-header .datagrid-cell-group{
	margin:0;
	padding:4px 2px 4px 4px;
	white-space:nowrap;
	word-wrap:normal;
	overflow:hidden;
	text-align:center;
}
.datagrid-header-rownumber{
	width:25px;
	text-align:center;
	margin:0px;
	padding:3px 0px;
}
.datagrid-td-rownumber{
	background:#fafafa url('images/datagrid_header_bg.gif') repeat-x left bottom;
}
.datagrid-cell-rownumber{
	width:25px;
	text-align:center;
	margin:0px;
	padding:3px 0px;
	color:#000;
}
.datagrid-body{
	margin:0;
	padding:0;
	overflow:auto;
	zoom:1;
}
.datagrid-view1 .datagrid-body-inner{
	padding-bottom:20px;
}
.datagrid-view1 .datagrid-body{
	overflow:hidden;
}
.datagrid-footer{
	overflow:hidden;
}
.datagrid-footer-inner{
	border-top:1px solid #ccc;
	width:10000px;
	float:left;
}
.datagrid-body td,.datagrid-footer td{
	font-size:12px;
	border-right:1px dotted #ccc;
	border-bottom:1px dotted #ccc;
	overflow:hidden;
	padding:0;
	margin:0;
}
.datagrid-body .datagrid-cell,.datagrid-footer .datagrid-cell{
	overflow:hidden;
	margin:0;
	padding:0px 4px;
	white-space:nowrap;
	word-wrap:normal;
	height:18px;
	line-height:18px;
}
.datagrid-row-editing .datagrid-cell{
	height:auto;
}
.datagrid-header-check,.datagrid-cell-check{
	padding:0;
	width:27px;
	height:18px;
	font-size:1px;
	text-align:center;
	overflow:hidden;
}
.datagrid-header-check input,.datagrid-cell-check input{
	margin:0;
	padding:0;
	width:15px;
	height:18px;
}
.datagrid-row{
	height:25px;
}
.datagrid-row-collapse{
	background:url('images/datagrid_row_collapse.gif') no-repeat center center;
}
.datagrid-row-expand{
	background:url('images/datagrid_row_expand.gif') no-repeat center center;
}
.datagrid-row-alt{
	background:#EEEEFF;
}
.datagrid-row-over{
	background:#D0E5F5;
	cursor:default;
}
.datagrid-row-selected{
	background:#FBEC88;
}
.datagrid-resize-proxy{
	position:absolute;
	width:1px;
	top:0;
	height:10000px;
	background:red;
	cursor:e-resize;
	display:none;
}
.datagrid-body .datagrid-editable{
	padding:0;
}
.datagrid-body .datagrid-editable table{
	width:100%;
	height:100%;
}
.datagrid-body .datagrid-editable td{
	border:0;
	padding:0;
}
.datagrid-body .datagrid-editable .datagrid-editable-input{
	width:100%;
	font-size:12px;
	border:1px solid #A4BED4;
	padding:3px 2px;
}
