.m-btn-downarrow{
	display:inline-block;
	width:12px;
	line-height:14px;
	*line-height:15px;
	background:url('images/menu_downarrow.png') no-repeat 4px center;
}

a.m-btn-active{
	background-position: bottom right;
}
a.m-btn-active span.l-btn-left{
	background-position: bottom left;
}
a.m-btn-plain-active{
	background:transparent;
	border:1px solid #7eabcd;
	_padding:0px 5px 0px 0px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
}
