<div class="easyui-layout" data-options="fit:true" style="width:100%;height:100%;">
	<div data-options="region:'center'" style="padding:5px 6px 0px 6px;border:0px;">
		<div style="width:100%;padding:0px;">
			<span id="dialog-about-version"></span>
			<a href="http://code.google.com/p/transmission-control/" target="_blank" style="float:right;" title="update">查看更新</a>
		</div>
		<hr/>
		<div id="dialog-about-infos" style="width:100%;padding:0px;height:70px;"></div>
		<hr/>
		<a href="http://www.transmissionbt.com/" target="_blank" title="Transmission">Transmission</a>
		<a href="http://jquery.com/" target="_blank" title="jQuery">jQuery</a>
		<a href="http://www.jeasyui.com/" target="_blank" title="jQuery EasyUI">EasyUI</a>
	</div>  
	<div data-options="region:'south',border:false" style="text-align:right;padding:6px;">
		<a id="dialog-about-button-close" class="easyui-linkbutton" data-options="iconCls:'icon-close',plain:true" href="javascript:void(0);">close</a>
	</div>
</div>
<script type="text/javascript">
	(function(thisDialog){
		var title = "infos".split(",");
		$.each(title, function(i, item){
			thisDialog.find("#dialog-about-"+item).html(system.lang.dialog["about"][item]);
		});

		thisDialog.find("#dialog-about-version").html("version: "+system.version+" ("+system.codeupdate+")");
		
		thisDialog.find("#dialog-about-button-close").html(system.lang.dialog.public["button-close"])
		.click(function()
		{
			thisDialog.dialog("close");
		});
	})($("#dialog-about"));
</script>